@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@font-face {
    font-family: myFont;
    src: url(../font/ITC\ Avant\ Garde\ Gothic\ Std\ Demi.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --primary-bg-color: #FF5349;
}

.wrapper {
    background-color: var(--primary-bg-color);
}

.container_Div {
    max-width: 1200px;
    margin: 0 auto;
    background-color: palevioletred;
}

.logoDiv {
    display: flex;
    justify-content: center;
}

.logoDiv img {
    width: 12rem;
    padding: 30px 0;
}

.main_Div {
    margin-top: 20px;
    display: flex;
    gap: 120px;
    justify-content: space-between;
    
}

.content_Div h1 {
    color: #fafafa;
    font-family: myFont;
    font-size: 58px;
}

.content_Div p {
    padding: 16px 0 20px;
    color: #fafafa;
    font-family: "Outfit", sans-serif;
    font-size: 14px;
}

.content_Div button {
    background-color: #F2F2F2;
    padding: 12px 32px;
    border: none;
    border-radius: 6px;
}

.content_Div button a {
    font-size: 12px;
    font-family: myFont;
    color: #FF5349;
    text-decoration: none;
}

.right_side {
    padding: 0 0 0 80px;
    width: 50%;
}

.image_Div img {
    width: 320px;
}